*{
    margin: 0%;
    padding: 0%;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-width: 100%;
    background-color: #89A894;
}
.heading{
    color: white;
    transition: 0.8s;
    transform: translate(10px, 40px) rotate3d(1,0,0, 360deg) ;
   
    font-size: 30px;
}
.heading:hover { box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

section{
    width: 100%;
    height: 50vh;
    background-color: #F8FAFB;
}

.container2{
    padding: 200px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30% ;
    margin-right: 20%;
    display: inline-block;
    background-color: #ADC5FF;
}

.container3{
    background-color: #F8FAFB;
}

.username{
    padding: 100px;
    margin-top: 0%;
   
    padding: 5px;
    border-radius: 7%;
    }

    #pwd{
        margin-top: 0%;
        
        padding: 5px;
        border-radius: 7%;
    }

    .btn1{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background-color: #852626;
        border-radius: 10%;
        margin-left: 82%;
    }

    .btn1:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .marqu1{
       
        margin: 0%;
        width: 100%;
    }
    .anchor1{
        
        text-decoration: none;
        color: #852626;
    }
    .anchor1:active{
        color: red;
    }

    @media (max-width: 1353px )  {

        *{
            
            margin-right: 0%;
            padding: 0%;
            
           
        }
    
    .btn1{
        margin: 0%;
    }
      
    }

    @media(max-width : 1226px){

        .container1{
            white-space: wrap;
            display: block;
          max-width: 100%;
          justify-content: center;
    align-items: center;
    background-color: #89A894;
        }



        .heading{
            color: white;
            transition: 0.8s;
            transform: translate(10px, 10px) rotate3d(1,0,0, 360deg) ;
           
            font-size: 20px;
        }



        section{
           z-index: -1;
        }
        

        .container2{
            padding: 200px;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 0% ;
            margin-right: 20%;
            display: inline-block;
            background-color: #ADC5FF;
            z-index: 1;
        }
        


    }


    






@media(max-width : 691px){



    .container1{
        white-space: pre-wrap ;
        display: block;

      justify-content: center;
align-items: center;
background-color: #89A894;

    }


    .container2{
        padding: 100px;
        margin-top: 5%;
        margin-bottom: 5%;
        
        
        display: inline-block;
        background-color: #ADC5FF;
    }
    
    .container3{
        background-color: #F8FAFB;
    }
}

@media(max-width : 397px){



    .container1{
        white-space: pre-wrap ;
        display:block;
        height: 30vh;
      justify-content: center;
align-items: center;
background-color: #89A894;

    }
    section{
       
        height: 30vh;
        background-color: #F8FAFB;
    }
    

    .container2{
        padding: 80px;
        margin-top: 30%;
        margin-bottom: 5%;
        
        
        display: inline-block;
        background-color: #ADC5FF;
    }
    
    .container3{
        background-color: #F8FAFB;
    }
}